* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.header {
  height: 65px;

  display: flex;
  justify-content: center;

  background-color: #1F2937;
}

.container1 {
  width: 1100px;
  /* border: 1px solid green; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.header .linkContainer {
  display: flex;
  gap: 30px;

  color: #E5E7EB;
  font-size: 18px;
}

.header .linkContainer:hover {
  color: #F9FAF8;
  text-decoration: underline;
  cursor: pointer;
}

.hero {
  height: 450px;

  display: flex;
  justify-content: space-around;

  background-color: #1F2937;
}

.container2 {
  width: 1100px;
  /* border: 1px solid green; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroText {
  width: 450px;
}

.heroText h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;

  margin-bottom: 5px;
}

.heroText p {
  color: #E5E7EB;
  font-size: 18px;

  margin-bottom: 10px;
}

.hero button {
  color: #F9FAF8;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882F6;
  border: 0;
  border-radius: 10px;

  padding: 10px 40px;
  
}

.hero button:hover {
  background-color: #F9FAF8;
  color: #3882F6;
  cursor: pointer;
}

.hero img {
  max-width: 550px;
}

.content1 {
  height: 450px;

  display: flex;
  justify-content: center;
}

.container3 {
  width: 800px;
}

.content1 h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;

  margin: 50px 0;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.cardBox {
  width: 150px;

  color: #1F2937;
  text-align: center;
}

.cardPicture {
  width: 150px;
  height: 150px;
  border: 5px solid #3882F6;
  border-radius: 10px;
}

.content2 {
  height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #E5E7EB;
}

.container4 {
  width: 800px;

  display: flex;
  flex-direction: column;
}

.content2 blockquote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-left: 0;
}

.content2 p {
  align-self: flex-end;
  margin-right: 60px;

  font-size: 18px;
  font-weight: bold;
}

.content3 {
  height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 1100px;
  height: 150px;
  /* border: 1px solid green; */
  background-color: #3882F6;
  border-radius: 10px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modalText h3 {
  color: #F9FAF8;
  font-size: 24px;
}

.modalText p {
  color: #E5E7EB;
  font-size: 18px;
}

.modalContainer button {
  color: #F9FAF8;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;

  padding: 10px 40px;
  border: 2px solid #F9FAF8;
  border-radius: 10px;
}

.modalContainer button:hover {
  color: #3882F6;
  background-color: #F9FAF8;
  cursor: pointer;
}

.footer {
  height: 100px;
  color: #F9FAF8;
  font-size: 18px;
  background-color: #1F2937;

  display: flex;
  justify-content: center;
  align-items: center;
}

